<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Economic & Transportation Info 
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <ul class="list-group">
          <li><strong>Median Household income:</strong> No data available </li> 
          <li><strong>Home Value Index:</strong> No data available </li>
          <li><strong>Average Commute Time:</strong> No data available </li>
        </ul>
      </div>
    </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 City Characteristics 
                </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <ul class="list-group">
              <li class="culter"><strong>Education:</strong> No data available </li>
              <li class="culter"><strong>People & Culture:</strong> No data available </li>
              <li class="culter"><strong>Transportation:</strong> No data available </li>
            </ul>
          </div>
        </div>
      </div>
    </div>