<div class="jumbotron">
<div id="overlay">
  <h1 style="text-align:center;">Find your next job today!</h1>
  <p style="text-align:center;">Search thousands of startups from all across the United States.</p>
  <div class="col-md-6 col-md-offset-3">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Search a startup by city (e.g.,Orlando)">
      <span class="input-group-addon">Search</span>
    </div>
  </div>
</div>
