/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

/* Navbar */
.navbar-default {
  background-color: #002A59;
  border-color: #002349;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  font-size: 1.8em;
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  font-size: 1.1em;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #FFFFFF;
  opacity: 0.8;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  opacity: 0.8;
  background-color: transparent;
}

/* Navbar toggle */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #002A59;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

/* Jumbotron */
.jumbotron {
  margin-bottom: 0px;
  background-image: url("/assets/blurtech.jpg");
  background-position: 60% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: none;
  height: 625px;
}

#overlay {
  padding: 10px;
  margin: auto;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.jumbotron h1, .jumbotron .h1 {
  margin-top: 90px;
  margin-bottom: 0;
  text-shadow: #2D2D2D 0.0em 0.0em 0.3em;
  color: #FFFFFF;
}

.jumbotron p, .jumbotron .p {
  font-size: 1.7em;
  text-shadow: #2D2D2D 0.0em 0.0em 0.3em;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #FFFFFF;
  opacity: 0.9;
  text-align: center;
  background-color: #E07517;
  border: 1px solid #E07517;
}