/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px; /* bottom = footer height */
  background: #f9f9fa;
}

ul {
  list-style-type: none;
}

hr {
  border-top: 1px solid #E4E4E4;
}

ul li a {
  color: #E07517;
}

ul li a:visited {
  color: #E07517;
}

ul li a:hover {
  color: #E07517;
  opacity: 0.8;
  text-decoration: none;
}

/* Navbar */

.navbar-default .navbar-brand {
  font-size: 1.8em;
  color: #EDEBEB;
}

.navbar-default .navbar-brand {
  font-family: 'Raleway', sans-serif;
  color: #EFEFEF;
}

.navbar-default .navbar-brand a {
  font-size: 1.2em;
  padding-left: 5px;
  text-decoration: none;
}

.navbar-default {
  background-color: #002A59;
  border-color: #002349;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  font-size: 1.8em;
  color: #EDEEEF;
}

.navbar-default .navbar-nav > li > a {
  color: #F2F2F2;
  font-size: 1.1em;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #FFFFFF;
  opacity: 0.8;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  opacity: 0.8;
  background-color: transparent;
}

/* Navbar toggle */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #002A59;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #EDEEEF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #002A59;
}

/* Jumbotron */
.jumbotron {
  margin-bottom: 0px;
  background: url("/assets/blurtech.jpg");
  background-position: 60% 60%;
  background-size: auto;
  background-repeat: no-repeat;
  color: white;
  text-shadow: none;
  background-size: cover;
  height: 650px;
}

#overlay {
  padding: 10px;
  margin: auto;
  margin-top: 30px;
  width: 100%;
  height: 80%;
  border-radius: 10px;
}

.jumbotron h1, .jumbotron .h1 {
  margin-top: 90px;
  margin-bottom: 0;
  text-shadow: #2D2D2D 0.0em 0.0em 0.3em;
  color: #FFFFFF;
}

.jumbotron p, .jumbotron .p {
  font-size: 1.7em;
  text-shadow: #2D2D2D 0.0em 0.0em 0.3em;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: -1px;
  background-color: #E07517;
  border: 1px solid #E07517;
  color: #FFFFFF;
}

/* How it works - section */

#about {
  background-color: #FFFFFF;
}

#how-it-works {
  background-color: rgb(244, 244, 244);
}

.new-start {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.homepage {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.homepage h2, .homepage h3 {
  color: #002A59;
  font-family: 'Roboto',Arial,sans-serif
}

.homepage h2 {
  font-size: 2.2em;
}

.homepage h3 {
  font-size: 2em;
}

.homepage p {
  font-size: 1.5em;
  font-weight: 300
}

.homepage hr {
  border-top: 1px solid#002A59;
  width: 170px;
  margin-top: 15px;
}

/* Google maps-map */

.panel-body {
  padding: 4px;
  margin: 0px;
  margin-top: 32px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 6px;
}

#map{
  position: relative;
  height: 500px;
  width: 100%;
  padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.pull-right .input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.pull-right .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: -1px;
  background-color: #E07517;
  border: 1px solid #E07517;
  color: #FFFFFF;
  border-top-right-radius: 0;
}

.panel-title > a:hover, a:visited, a:focus {
  color: inherit;
  text-decoration: none;
}

.panel-group {
  margin-top: 5px;
  margin-bottom: 2px;
}

.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.nat-avg {
  font-style: italic;
  font-size: 1em;
  padding-bottom: 6px;
}

.culter {
  padding-bottom: 6px;
}

.panel-group .panel-heading + .panel-collapse > .list-group li {
  font-weight: 300;
  font-size: 1.1em;
}

/* Startup Listing */

.fa-star:before {
  content: "\f005";
  color: #E38635;
}

.startup-list .btn-default {
  color: #6B6B6B;
  background-color: #F9F9FA;
  border: none;
  font-size: 1.2em;
  padding: 0;
  margin-left: 2px;
  margin-top: 2px;
}

li form {
  display: inline-block;
}

.col-md-8{
  padding-left: 0px;
}

.startup-list {
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 10px;
}

.startup-list li {
  font-size: 1.1em;
  font-family: 'Roboto',Arial,sans-serif
}

.h1-title {
  font-size: 4em;
  margin-bottom: 30px;
  margin-left: 3px;
  color: #4A4A4B;
  font-family: 'Roboto',Arial,sans-serif
}

.h2-li {
  font-size: 1.5em;
  margin-bottom: 4px;
  margin-top: 0px;
  color: #4A4A4B;
  font-family: 'Roboto',Arial,sans-serif
}

.title-h2 {
  color: #7B8189; 
  font-size: 0.6em;
}

.thumbnail {
  width: 90px;
  height: 100%;
  overflow: auto;
  display: inline-block;
  padding: 4px;
  margin-bottom: -4px;
  line-height: 1.42857143;
  background-color: #FFFFFF;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

a.thumbnail:hover {
  
}

/* Favorite list */

.favorite-title {
  margin-bottom: 35px;
  color: #4A4A4B;
}

.startup-list .btn-danger {
  color: #A55252;
  background-color: #F9F9FA;
  border: none;
  font-size: 1.2em;
  padding: 0;
  margin-left: 2px;
  margin-bottom: 0px;
  margin-top: -1px;
}


/* footer */
footer {
    position: absolute;
    font-size: 1.2em;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.footer .container-fluid {
  background-color: #002A59;
  height: 150px;
}

.footer .container-fluid p {
  color: #FFFFFF;
  padding-top: 110px;
}

/* Media queries */

@media (max-width: 991px) {

  .h1-title {
  font-size: 3em;
  text-align: center;
}


}
@media (max-width: 767px) {
  
  .thumbnail {
  display: none;
}

#map {
  height: 250px;
}

.h1-title {
  font-size: 3em;
  text-align: center;
}

.favorite-title {
  font-size: 3em;
  text-align: center;
}

.h2-li {
  font-size: 1.5em;
  margin-bottom: 2px;
}

.col-md-8{
  padding-left: 0px;
}

}

