<footer class="footer">
  <div class="container-fluid">
    <p style="text-align:center;">JobFinder &copy <%= Time.new.year %></p>
  </div>
  <div id="back-to-top">
    <a href="#jumbotron"<i class="fa fa-3x fa-chevron-circle-up"></i></a>
  </div>
</footer>